<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CyberLearn Dressing Room</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./../assets/css/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="text-center">
              <img src="./../assets/images/cybersoft.png" alt="Card image" />
            </div>

            <div class="card-body">
              <h4 class="card-title text-center">
                CyberLearn - Học lập trình trực tuyến - Dự án thử đồ trực tuyến
                - Virtual Dressing Room
              </h4>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="well">
            <!-- Tab panes -->
            <div class="tab-content">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-menu nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="pills-shirts-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-shirts"
                    type="button"
                    role="tab"
                    aria-controls="pills-shirts"
                    aria-selected="true"
                  >
                    Áo
                  </button>
                </li>
                <li class="nav-menu nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-pants-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-pants"
                    type="button"
                    role="tab"
                    aria-controls="pills-pants"
                    aria-selected="false"
                  >
                    Quần
                  </button>
                </li>
                <li class="nav-menu nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-shoes-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-shoes"
                    type="button"
                    role="tab"
                    aria-controls="pills-shoes"
                    aria-selected="false"
                  >
                    Giày dép
                  </button>
                </li>
                <li class="nav-menu nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-bags-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-bags"
                    type="button"
                    role="tab"
                    aria-controls="pills-bags"
                    aria-selected="false"
                  >
                    Túi xách
                  </button>
                </li>
                <li class="nav-menu nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-chains-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-chains"
                    type="button"
                    role="tab"
                    aria-controls="pills-chains"
                    aria-selected="false"
                  >
                    Dây chuyền
                  </button>
                </li>
                <li class="nav-menu nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-hairs-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-hairs"
                    type="button"
                    role="tab"
                    aria-controls="pills-hairs"
                    aria-selected="false"
                  >
                    Kiểu tóc
                  </button>
                </li>
                <li class="nav-menu nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-backgrounds-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-backgrounds"
                    type="button"
                    role="tab"
                    aria-controls="pills-backgrounds"
                    aria-selected="false"
                  >
                    Background
                  </button>
                </li>
                <li class="nav-menu nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-models-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-models"
                    type="button"
                    role="tab"
                    aria-controls="pills-models"
                    aria-selected="false"
                  >
                    Khuôn mặt
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="pills-shirts"
                  role="tabpanel"
                  aria-labelledby="pills-shirts-tab"
                  tabindex="0"
                >
                  <div id="top_cloth" class="row row-cols-1 row-cols-4 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/clothes/topcloth1_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Top Colth 1</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/clothes/topcloth2_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Top Colth 2</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/clothes/topcloth3_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Top Colth 3</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/clothes/topcloth4_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Top Colth 4</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/clothes/topcloth5_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Top Colth 5</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/clothes/topcloth6_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Top Colth 6</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-pants"
                  role="tabpanel"
                  aria-labelledby="pills-pants-tab"
                  tabindex="0"
                >
                  <div id="bot_cloth" class="row row-cols-1 row-cols-4 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/clothes/botcloth1_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Bot Colth 1</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/clothes/botcloth2_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Bot Colth 2</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/clothes/botcloth3_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Bot Colth 3</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/clothes/botcloth4_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Bot Colth 4</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/clothes/botcloth5_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Bot Colth 5</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-shoes"
                  role="tabpanel"
                  aria-labelledby="pills-shoes-tab"
                  tabindex="0"
                >
                  <div id="shoes" class="row row-cols-1 row-cols-4 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/shoes/shoes1_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Shoe 1</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/shoes/shoes2_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Shoe 2</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/shoes/shoes3_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Shoe 3</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/shoes/shoes4_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Shoe 4</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/shoes/shoes5_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Shoe 5</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-bags"
                  role="tabpanel"
                  aria-labelledby="pills-bags-tab"
                  tabindex="0"
                >
                  <div id="handbag_item" class="row row-cols-1 row-cols-4 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/handbags/handbag1_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Hand Bag 1</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/handbags/handbag2_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Hand Bag 2</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/handbags/handbag3_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Hand Bag 3</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-chains"
                  role="tabpanel"
                  aria-labelledby="pills-chains-tab"
                  tabindex="0"
                >
                  <div id="necklace_item" class="row row-cols-1 row-cols-4 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/necklaces/necklace1_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Necklace 1</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/necklaces/necklace2_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Nacklace 2</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/necklaces/necklace3_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Necklace 3</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-hairs"
                  role="tabpanel"
                  aria-labelledby="pills-hairs-tab"
                  tabindex="0"
                >
                  <div
                    id="hairstyle_item"
                    class="row row-cols-1 row-cols-4 g-4"
                  >
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/hairstyle/hairstyle1_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Hair Style 1</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/hairstyle/hairstyle2_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Hair Style 2</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/hairstyle/hairstyle3_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Hair Style 3</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-models"
                  role="tabpanel"
                  aria-labelledby="pills-models-tab"
                  tabindex="0"
                >
                  <div id="faces" class="row row-cols-1 row-cols-4 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/model/999.png"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Khuôn mặt 1</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/model/1000.png"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Background 2</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/model/1003.png"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Background 3</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-backgrounds"
                  role="tabpanel"
                  aria-labelledby="pills-backgrounds-tab"
                  tabindex="0"
                >
                  <div
                    id="background_item"
                    class="row row-cols-1 row-cols-4 g-4"
                  >
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/background/background1_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Background 1</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/background/background2_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Background 2</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/background/background3_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Background 3</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/background/background4_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Background 4</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/background/background5_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Background 5</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/background/background6_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Background 6</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img
                          src="../assets/images/background/background7_show.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title text-center">Background 7</h5>
                          <button class="btn btn-primary align-items-center">
                            Thử đồ
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contain">
            <div class="body"></div>
            <div class="model"></div>
            <div class="hairstyle"></div>
            <div class="necklace"></div>
            <div class="bikinitop"></div>
            <div class="bikinibottom"></div>
            <div class="handbag"></div>
            <div class="feet"></div>
            <div class="background"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- <script src="./../models/ListChosen.js"></script>
    <script src="./../models/ChoseItem.js"></script>
    <script src="./../utils/callData.js"></script> -->
    <script type="module" src="./../controllers/main.js"></script>
  </body>
</html>
